/* сброс стилей */
*, *::before, *::after {    margin: 0;    padding: 0;    box-sizing: border-box;}

html, body {    height: 100%;    width: 100%;    -webkit-font-smoothing: antialiased; }

img, picture, video, canvas, svg {    display: block;    max-width: 100%; }

#top {
    width: 100%;
    height: 15vh;               /* 15% от высоты окна */
    border: 3px solid #f32a76;  /* Рамка 3 пикселя */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#top h1 {
    font-size: 5vw;             /* Масштаб от ширины окна */
    color: #f32a76;
        letter-spacing: 0.2em; /* Межбуквенный интервал 1.5 от размера шрифта */
    margin-right: -0.2em;  /* Компенсация лишнего отступа у последней буквы */
}

#top .main-logo {
    /* 5vw (шрифт) * 1.5 = 7.5vw */
    height: 2.5vw;              
    width: auto;
}
