/* сброс стилей */
*, *::before, *::after {    margin: 0;    padding: 0;    box-sizing: border-box;}

html, body {    height: 100%;    width: 100%;    -webkit-font-smoothing: antialiased; }

img, picture, video, canvas, svg {    display: block;    max-width: 100%; }

input, button, textarea, select {    font: inherit; }
h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    
    /* Цвет текста: сделаем ярко-голубым */
    color: #00d4ff;  }
